@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scrollbar-color: #000000;
  --scrollbar-hover-color: #333333;
  --scrollbar-active-color: #555555;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
  border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover-color);
  border-radius: 0;
}

::-webkit-scrollbar-thumb:active {
  background: var(--scrollbar-active-color);
  border-radius: 0;
}

* {
  scrollbar-color: var(--scrollbar-color) transparent;
}

/* Leaflet Map Customisation */
.custom-dot-marker {
  background-color: #000000;
  width: 8px !important;
  height: 8px !important;
  border-radius: 50%;
}

.custom-cluster-icon {
  display: grid !important;
  place-items: center !important;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  border-radius: 50%;
  font-weight: bold;
}

.custom-cluster-icon span {
  font-size: 14px;
}

.leaflet-control-attribution {
  background-color: rgba(255, 255, 255, 0.75) !important;
  color: #000000 !important;
  font-size: 11px !important;
  padding: 2px 8px !important;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.leaflet-control-attribution a {
  color: #000000 !important;
  text-decoration: underline !important;
}

.leaflet-control-attribution a:hover {
  text-decoration: none !important;
}
